<div class="tool_bars">
<div class="ui vertical icon menu StyleTab ">
  <a class="item ">
    <i class="home icon"></i>
  </a>
  <a class="item StyeItem">
    <i class="video camera icon"></i>
  </a>
  <a class="item StyeItem">
    <i class="video play icon"></i>
  </a>
</div>
</div>
<div class="tableStyle">
<table class="ui selectable inverted table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th class="right aligned">Notes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let datae of data" [style.background-color]="getStyle(datae)" (click)="clicked($event, datae)" id =datae.id>

    <td >{{datae.name}}

    </td>
    <td>{{datae.desc}}</td>
    <td>{{datae.lon}}</td>
  </tr>

  </tbody>
</table>
</div>
