
<table class="ui inverted teal table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Second Name </th>
    <th>Id</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let datae of data" (click)="clicked($event, datae)" id =datae.id>

    <td >{{datae.FirstName}}

    </td>
    <td>{{datae.LastName}}</td>
    <td>{{datae.id}}</td>
  </tr>

  </tbody>


<!--<table class="ui inverted green table">
  <thead>
  <tr><th>Food</th>
    <th>Calories</th>
    <th>Protein</th>
  </tr></thead><tbody>
<tr>
  <td>Apples</td>
  <td>200</td>
  <td>0g</td>
</tr>
<tr>
  <td>Orange</td>
  <td>310</td>
  <td>0g</td>
</tr>
</tbody>
</table>-->
