.dori{
  background-color: green;

}
tr{
  cursor: pointer;
}
tr::selection {
  background: #34495e;
}
.tool_bars {
  float:right;
  background-color: white;
  height: 100%;
}
.tableStyle{
  width: 100%;
  height: 100%;
  float:left;
  background-color: #00B5AD;
}
.trStyle{
  background: #060606;
}
.StyeItem{
  height: 6%;
  background-color: #D95C5C;
}
#TitleApp{
  direction: rtl;
}

.styletab{
  height: 20%;
  position: fixed;
  botton:36%;
  left:95.5%;
}
.EventIcon{
  /*background-color: #3c5876!important;*/
  background-image: url("http://localhost:4200/src/assets/pin.png");
}
